@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@100;200;300;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Red Hat Mono', monospace;
}

textarea {
    resize: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.heading {
    font-size: 3.1em;
}

.title {
    font-size: 1.9em;
}

.bordered-bg-white {
    background: white;
    border: 2px solid black;
}

a.icon-button {
    text-decoration: none;
    color: initial;
}

.icon-button {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 1em;

    background: white;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: inset 0px -3px gainsboro;

    width: max-content;
    padding-inline-start: 16px;
    padding-inline-end: 20px;
    padding-block: 10px;

    align-self: center;
}

.tonal-button {
    display: flex;
    align-items: center;
    gap: 6px;

    font-size: large;
    background-color: whitesmoke;

    width: fit-content;
    padding: 25px;

    border: none;
    border-radius: 20px;
}

.chip {
    background: none;

    font-size: medium;
    line-height: 1.3em;

    width: fit-content;
    height: min-content;
    padding-inline: 20px;
    padding-block: 6px;

    border: 2px solid black;
    border-radius: 20px;
}

.icon-input-field {
    display: flex;
    align-items: center;
    gap: 5px;

    border: 2px solid gainsboro;
    border-radius: 100px;

    padding-block: 10px;
    padding-left: 16px;
    padding-right: 10px;
}

.icon-input-field > input {
    font-size: .9em;

    width: 100%;

    border: none;
    outline: none;
}

.inset-bottom-shadow-4px{
    box-shadow: inset 0px -4px gainsboro;
}

*[data-selected="1"],
.inverted-color {
    background: black;
    color: white;
    font-weight: 500;
}

.display-inline-block {
    display: inline-block;
    margin-bottom: 3px;
}

.horizontal-flex {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-content: flex-start;
}

.width-fifth {
    flex: 0 1 20%;
}

.flex-1 {
    flex: 1;
}

.cross-centered {
    align-items: center;
}

.main-centered {
    justify-content: center;
}

.overlayed-10 {
    z-index: 10;
    position: fixed;
}

.overlayed-20 {
    z-index: 20;
    position: fixed;
}

.bottom-10 {
    bottom: 20%;
}

.sidepeek {
    right: 0;
    top: 0;
    width: 60vw;
    height: 100vh;

    overflow-y: none;
    padding-left: 1.1rem;
    padding-right: 1.3rem;
    box-sizing: border-box;
}

.bottom-right {
    right: 40px;
    bottom: 30px;
}

.padding-block-15 {
    padding-block: 15px;
}

.padding-bottom-half {
    padding-bottom: .5rem;
}

.padding-footer {
    padding-bottom: 1in;
}

.padding-top-2em {
    padding-top: 1.7rem;
}

.padding-right-2em {
    padding-right: 1.7rem;
}

.fullsize {
    width: 100%;
    height: 100%;
}

.full-width {
    width: 100%;
}

.scroll-y-overflowed {
    overflow-y: scroll;
}

.font-1-em {
    font-size: 1em;
}

.font-wt500 {
    font-weight: 500;
}

.font-mono {
    font-family: 'Red Hat Mono', monospace;
}

.font-display {
    font-family: 'DM Serif Display', serif;
}

.font-serif {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.font-sans {
    font-family: 'Inter', sans-serif;
}

.nodisplay {
    display: none;
}

@media (max-width: 621px){
    .mobile-break-flex {
        flex-direction: column;
    }
}

@media (max-aspect-ratio: 9/8){
    .tablet-full-width {
        width: 100vw;
    }
}