@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@100;200;300;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Red Hat Mono', monospace;
}

body {
    background-color: white;
    color: black;
}

button {
    color: black;
}

textarea {
    resize: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

table {
    background-color: white;
    color: black;
    margin-block: 5px;
    border: 2px solid black;
    font-size: 0.88em;
    text-align: center;
    border-collapse: collapse;
}
  
td {
    border: 1px solid gainsboro;
    width: fit-content;
    padding: 0.35em;
    padding-inline: 0.7em;
}

ul {
    margin-block: 0;
    padding-left: 2em;
    width: fit-content;
}

ul > li {
    font-size: 0.92em;
    list-style-type: '\2731\ ';
    margin-block: 5px;
}

ul > li::marker {
    color: #333;
}

ol {
    list-style: none;
    counter-reset: item;
    margin-block: 0;
    padding-left: 0.7em;
    width: fit-content;
}
  
ol > li {
    counter-increment: item;
    font-size: 0.9em;
    display: flex;
    justify-content: left;
    gap: 12px;
    padding-top: 0.08em;
    padding-bottom: 0.08em;
    align-items: center;
    line-height: 1.2em;
    margin-block: 5px;
}
  
ol > li:before {
    content: counter(item);
    border: 1px solid black;
    box-shadow: 1px 2px black;
    font-size: 0.95em;
    font-weight: 500;
    padding: 2px;
    padding-inline: 0.26em;
    align-self: stretch;
}

hr {
    border: none;
    border-bottom: 1px solid gainsboro;
    color: black;
    width: calc(max(100%, 140px));
}

s {
    text-decoration-thickness: 0.1em;
}

mark {
    background-color: lavender;
    padding-inline: 4px;
}

hr.stylized {
    border: none;
    border-top: 1px solid grey;
    color: #bbb;
    overflow: visible;
    text-align: center;
    font-size: small;
    height: 5px;

    width: 54%;
    margin-top: 0.35in;
    margin-bottom: 0.2in;
} 
hr.stylized::after {
    background: #fff;
    content: attr(rulemark);
    padding: 0 0px;
    position: relative;
    top: -13px;
}

.display-equation * {
    all: unset;
}

.inline-equation * {
    all: unset;
}

.heading {
    font-size: 3.1em;
}

.title {
    font-size: 1.9em;
}

.underline {
    text-decoration: underline;
}

.bordered-bg-white {
    background: white;
    border: 2px solid black;
}

.dashed-border {
    background: white;
    border: 2px dashed gainsboro;
    min-width: min-content;
}

a.icon-button {
    text-decoration: none;
    color: initial;
}

.icon-button {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 1em;

    background: white;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: inset 0px -3px gainsboro;

    width: max-content;
    padding-inline-start: 16px;
    padding-inline-end: 20px;
    padding-block: 10px;

    align-self: center;
}

.no-deco-link {
    text-decoration: none;
    color: black;
}

.tonal-button {
    display: flex;
    align-items: center;
    gap: 6px;

    font-size: large;
    background-color: whitesmoke;

    width: fit-content;
    padding: 25px;

    border: none;
    border-radius: 20px;

    user-select: none;
}

.underline-link {
    border: none;
    background-color: white;

    text-decoration: underline;
    font-size: medium;
    color: gainsboro;
}

.underline-link:hover {
    color: gray;
}

.chip {
    background: none;

    font-size: medium;
    line-height: 1.3em;

    width: fit-content;
    height: min-content;
    padding-inline: 20px;
    padding-block: 6px;

    border: 2px solid black;
    border-radius: 20px;
}

.icon-input-field {
    display: flex;
    align-items: center;
    gap: 5px;

    border: 2px solid gainsboro;
    border-radius: 100px;

    padding-block: 10px;
    padding-left: 16px;
    padding-right: 10px;

    background-color: white;
    color: black;
}

.icon-input-field > input {
    font-size: .9em;

    width: 100%;

    border: none;
    outline: none;
}

.underline-input-field {
    border: 2px dashed gainsboro;
    border-bottom: 3px solid black;
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-inline: 25px;
    font-style: italic;
    width: calc(max(200px, 50%));

    background-color: white;
    color: black;
}

.underline-input-field::placeholder {
    font-style: italic;
}

.checkbox-outline {
    border-radius: 2px;
    box-shadow: inset 0px -2px black;
    border: 2px solid black;
    
    width: 27px;
    height: 28px;
    font-size: 1.5em;
    font-weight: 900;
    margin-top: 0.2em;
    margin-bottom: 0.64em;
}

.checkbox-outline + p {
    margin: 0;
    margin-top: 0.4em;
    margin-bottom: 1em;;
    margin-left: 0.3em;
}

.checkbox-outline > span {
    transform:translate(-3px, -1px);
    font-size:1.2em;
    font-weight:900;
}

.checkbox-outline[data-check="o"] {
    color: transparent;
    background: white;
}
  
.checkbox-outline[data-check="x"] {
    color: white;
    background: radial-gradient(grey 50%, gainsboro 60%);
    background-size: 11% 11%;
    box-shadow: -2px 2px black;
    transform: rotate(-6deg);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.inset-bottom-shadow-4px{
    box-shadow: inset 0px -4px gainsboro;
}

*[data-selected="1"],
.inverted-color {
    background: black;
    color: white;
    font-weight: 500;
}

.inverted-span {
    mix-blend-mode: difference;
    color: white;
    -webkit-user-select: none;
    user-select: none; 

    display: flex;
    gap: 6px;
    align-items: center;
}

.pressnhold {
    background: linear-gradient(to right, black 50%, whitesmoke 50%);
    background-size: 200% 100%;
    
    background-position-x: 100%;
    transition: background-position-x 2.5s cubic-bezier(.4,.61,.41,.98);
    
    user-select: none;
}

.display-inline-block {
    display: inline-block;
    margin-bottom: 3px;
}

.horizontal-flex {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-content: flex-start;
}

.nowrap {
    flex-wrap: nowrap;
}

.width-fifth {
    flex: 0 1 20%;
}

.flex-1 {
    flex: 1;
}

.cross-centered {
    align-items: center;
}

.main-centered {
    justify-content: center;
}

.overlayed-10 {
    z-index: 10;
    position: fixed;
}

.overlayed-20 {
    z-index: 20;
    position: fixed;
}

.bottom-10 {
    bottom: 20%;
}

.sidepeek {
    right: 0;
    top: 0;
    width: 60vw;
    height: 100vh;

    overflow-y: none;
    padding-left: 1.1rem;
    padding-right: 1.3rem;
    box-sizing: border-box;
}

.bottom-right {
    right: 40px;
    bottom: 30px;
}

.top-right {
    right: 20px;
    top: 15px;
}

.padding-block-15 {
    padding-block: 15px;
}

.padding-bottom-half {
    padding-bottom: .5rem;
}

.padding-footer {
    padding-bottom: 1in;
}

.padding-top-2em {
    padding-top: 1.7rem;
}

.padding-right-2em {
    padding-right: 1.7rem;
}

.margin-inline-half-em {
    margin-inline: 0.3em;
}

.margin-inline-doc {
    margin-inline: 20vw;
}

.pad-1em {
    padding: 1em;
}

.padin-half-em {
    padding-inline: 0.4em;
}

.fullsize {
    width: 100%;
    height: 100%;
}

.full-width {
    width: 100%;
}

.scroll-y-overflowed {
    overflow-y: scroll;
}

.font-1-em {
    font-size: 1em;
}

.font-wt500 {
    font-weight: 500;
}

.font-wt700 {
    font-weight: 700;
}

.font-mono {
    font-family: 'Red Hat Mono', monospace;
}

.font-display {
    font-family: 'DM Serif Display', serif;
}

.font-serif {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.font-sans {
    font-family: 'Inter', sans-serif;
}

.nodisplay {
    display: none;
}

.opacity-low {
    opacity: 0.15;
}

.nobreakspan {
    white-space: nowrap;
}

@media (max-width: 621px){
    .mobile-break-flex {
        flex-direction: column;
    }

    .margin-inline-doc {
        margin-inline: 2em;
    }
}

@media (max-aspect-ratio: 9/8){
    .tablet-full-width {
        width: 100vw;
    }
}