body {
    height: 100vh;
    width: 90vw;
    padding: 0;
    overflow: hidden;
    margin: 0;
}

.calendar {
    height: 100%;
    margin-inline: 20px;
    --calwidth: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.calendar-heading {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

    position: fixed;
    background: white;
    width: 100%;
    height: min-content;
    z-index: 1000;

    padding-left: 20px;
    padding-block: 18px;
    border-bottom: 4px solid black;
}

.calendar-heading > a {
    border: none;
    font-weight: 400;
    background: transparent;
    font-size: 2.3em;
    line-height: 0em;

    text-decoration: none;
    color: initial;
}

.calendar-heading > a + div {
    margin-right: 8px;
}

.calendar-heading > div > h3 {
    font-family: 'Inter', monospace;
    color: black;
    margin: 0;
    font-weight: 500;
}

.calendar-heading > div > h1 {
    font-family: 'Inter', monospace;
    margin: 0;
    line-height: 0.8em;
    font-size: 2.3em;
    font-weight: 800;
}

.calendar-month {
    padding-top: 0.2em;
    padding-left: 0.3em;
    width: var(--calwidth);
    margin-bottom: 1em;
}

.calendar-month > h1 {
    font-family: 'Orelega One', serif;
    font-weight: 400;
    font-size: 2.7em;
    margin: 0;
}

.calendar-month > div {
    width: 100%;
    display: flex;
    gap: 5px;
}

.calendar-month-week {
    width: 1em;
    height: var(--calwidth);
    background: black;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-inline: 2px;
}

.calendar-month-week > div {
    color: white;
    transform: rotate(-90deg) translate(-40%);
    line-height: 0;
    font-weight: 600;
    font-family: 'Red Hat Mono', monospace;
}

.calendar-month-days {
    height: var(--calwidth);
    width: calc(var(--calwidth)*(6/7));
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 6px;
    position: relative;
}

.calendar-day {
    background: transparent;
    box-sizing: border-box;
    padding: 4px;
    padding-top: 12px;
    position: relative;
}

.calendar-day > span {
    position: absolute;
    top: 0px;
    left: 1px;
    font-size: x-small;
    color: #aaa;
}

.calendar-day > p {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 0.53em;
    font-weight: 800;
    color: black;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    position: relative;
}

.calendar-day > p > span {
    font-size: inherit;
    font-weight: inherit;
}

.calendar-day > p > div {
    font-size: large;
    font-weight: 800;
    position: absolute;
    color: black;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    text-shadow: 2px 2px 5px gainsboro;
    inset: 0;
    transform: rotate(-4deg);
}

.calendar-day > p > .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 900,
  'GRAD' 200,
  'opsz' 24
}

.timeline {
    position: fixed;
    height: 100%;
    min-width: 300px;
    width: calc(100% - 400px);
    right: 0;
    top: 0;
    box-sizing: border-box;

    border-left: 2px solid black;
    z-index: 2000;
    background: white;

    padding-inline: min(2vw, 20px);

    overflow-y: scroll;
    overscroll-behavior: contain;
}

.day-container {
    width: 100%;
    height: 100%;
}
  
.calendar-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
    border-radius: 2px;

    box-shadow: 1px 1px gray, 2px 2px black, 5px 5px gainsboro;
    transform: rotateY(18deg) rotateX(-18deg);
}

.calendar-icon > span {
    background: gray;
    color: white;
    font-size: small;
    padding-inline: 5px;
    padding-block: 2px;
    border-bottom: 1px solid gainsboro;
    font-family: 'Fjalla One', sans-serif;
}

.calendar-icon > span + span {
    background: white;
    color: black;
    font-size: large;
    font-family: 'Fjalla One', sans-serif;
}

.dayname {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 15px;
    padding-inline: min(12px, 2vw);
}

.dayname > span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 6px;
}

.timeline > .day-container > div > .daybox > hr {
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 1px 1px 6px whitesmoke;
}


.notebox {
    border: 2px solid #aaa;
    border-radius: 5px;
    box-shadow: 1px 3px lavender, inset 0px -3px gainsboro, 1px 1px 5px gainsboro;
    padding: 16px; 
    padding-inline: 16px;
    padding-top: 12px;
    width: fit-content;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    justify-content: center;
}

.notebox > span:nth-child(1) {
    background: transparent;
    color: black;
    font-family: "Inter", monospace;
    font-weight: 500;
    padding-right: 0.4em;
    margin-right: 0.7em;
    font-size: 1em;

    background: white;
    color: black;
}

.notebox > span:nth-child(2) {
    font-size: .71em;
    font-family: "Hepta Slab", serif;
    font-weight: 500;
    width: fit-content;
    background: transparent;
    color: gray;
}

.timeline-close {
    position: fixed;
    bottom: 42px;
    right: min(10vw, 45px);
    line-height: 0;
    font-size: 2em;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    background: white;
    border: 2px solid black;
    box-shadow: inset -3px -3px gainsboro, 1px 1px 8px #bbb;
    z-index: 3000;

    display: none;
}

@keyframes stampspin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.stamp-button {
    --stampsize: 80px;
    border: 3px solid black;
    border-radius: 100px;
    height: var(--stampsize);
    width: var(--stampsize);

    position: relative;
    box-shadow: 1px 3px black, inset -2px -6px gainsboro, inset 2px 3px lavender;

    flex: 0 0 var(--stampsize);
}

.stamp-button:active {
    transform: translate(1px, 3px);
    box-shadow: inset -2px -6px gainsboro, inset 2px 3px lavender;
}

.stamp-span {
    position: absolute;
    box-sizing: border-box;
    width: var(--stampsize);
    height: var(--stampsize);
    inset: 0px;
    text-align: center;
    padding-top: 2px;

    transform: rotate(var(--charangle));

    color: gray;
    font-weight: 600;
    font-family: 'Red Hat Mono', monospace;
    font-size: small;

    user-select: none;
}

.stampchar-container {
    width: var(--stampsize);
    height: var(--stampsize);
    position: absolute;
    animation: stampspin 24s linear infinite;
}

.stamp-icon {
    position: absolute;
    height: var(--stampsize);
    width: var(--stampsize);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9em;
    font-weight: 500;
    color: black;
    box-sizing: border-box;

    transform: scale(120%) rotate(5deg) translate(-1px, -1px);
    user-select: none;
}

.stamp-spacer {
    padding-inline: 45px;
}

#timeline-open {
    display: none;
}

@media (max-width: 651px){
    .timeline {
        min-width: auto;
        width: 93%;
    }

    #timeline-open {
        display: initial;
    }

    .timeline-close {
        display: inline;
    }

    .calendar {
        overflow: scroll;
        box-sizing: border-box;
        width: 95vw;
        overflow-x: hidden;
    }

    body {
        overflow: visible;
    }

    .stamp-spacer {
        display: none;
    }
}

@media (max-width: 376px){
    .calendar {
        margin-inline: 4px;
        width: 110vw;
    }

    .timeline {
        min-width: auto;
        width: 98%;
    }

    .stamp-button {
        transform: scale(90%);
    }

    .stamp-button + .stamp-button {
        transform: translate(-10px) scale(90%);
    }

    .calendar-heading {
        gap: 7px;
        padding-block: 2px;
    }
}

@media (max-width: 200px) {
    .stamp-button + .stamp-button {
        transform: translate(0px) scale(90%);
    }

    .calendar-heading {
        gap: 7px;
        padding-block: 18px 10px;
    }

}

@media (max-aspect-ratio: 9/8){
    .notebox {
        width: 100%;
    }
}